---
layout: base
icon: /images/image-01a.jpg
---

<body data-target="#navbar-links" data-offset="90">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a
        href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Schema.org + Rich Snippets Metadata -->
<div itemscope itemtype="http://schema.org/Organization" style="display: none">
    <span itemprop="name" content="{{ site.title }}"></span>
    <div itemprop="location" itemscope itemtype="http://schema.org/Place">
          <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
              <span itemprop="latitude" content="{{ site.address_latitude }}"></span>
              <span itemprop="longitude" content="{{ site.address_longitude }}"></span>
          </div>
    </div>
    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="streetAddress" content="{{ site.address_street }}"></span>,
        <span itemprop="addressLocality" content="{{ site.address_locality }}"></span>
        <span itemprop="addressRegion" content="{{ site.address_region }}"></span>.
        <span itemprop="addressCountry" content="{{ site.address_countryCode }}"></span>
        <span itemprop="postalCode" content="{{ site.address_postalCode }}"></span>
    </div>
    <span itemprop="email" content="{{ site.email }}"></span>
    <span itemprop="logo" content="{{ site.icon }}"></span>
    <span itemprop="telephone" content="{{ site.contact }}"></span>
    <span itemprop="url" content="{{ site.url }}"></span>
</div>

{% include header-navigation.html %}

<div id="transfi-carousel-1" class="carousel slide" data-ride="carousel">
    {% include comp-carousel.html %}
</div>


<div class="container accented" style="margin-top: 64px; margin-bottom: 64px; padding: 24px; border-radius: 10px">

    <a href="#section-2">
        <div class="col-md-4 text-center">
            <h2>About the Parish</h2>
            <p>The Transfiguration of Christ Parish is relatively a new parish in the Diocese of Antipolo...</p>
            <p>Click here to scroll down and read more.</p>
        </div>
    </a>

    <a href="/services/">
    <div class="col-md-4 text-center">
        <h2>Mass Schedules and Liturgical Services</h2>
        <p>The Parish regularly holds the sacraments, blessings and devotions by schedule, by occasion and upon reservation. Click here to know more about the sacraments and schedules.</p>
        <p>Forms for various sacraments and blessings are also available for download.</p>
    </div>
    </a>

    <a href="http://www.facebook.com/ourtransfi">
    <div class="col-md-4 text-center">
        <h2>Upcoming Events</h2>
        <p>The official page of the Transfiguration of Christ Parish holds announcements towards upcoming and ongoing events in the community.</p>
        <p>Click here to visit the page in Facebook.</p>
    </div>
    </a>



    <!--<div class="col-sm-12 col-md-6 col-md-offset-3">-->
    <!--{% include event-highlight.html %}-->
    <!--</div>-->


</div>

<div class="container-fluid">
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="images/gallery/1.jpg">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="images/gallery/2.jpg">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="images/gallery/3.jpg">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="images/gallery/4.jpg">
        </a>
    </div>
</div>

<div class="jumbotron section" id="section-2" style="padding-top: 300px">
    <div class="container backtext">
        <div class="col-md-offset-6" style="text-align: right">
            <h2>Vision</h2>

            <p>"Isang Sambayanang Katoliko sa Diyosesis ng Antipolo na binubuo ng
                mga Munting Sambayanang Katoliko na hinuhubog sa pagbibiyaya at pagtawag ng
                Ebanghelyo
                -- sumasaksi sa pananampalataya, pagmamahalan, pagkakaisa, pagdadamayan at pagiging
                mabuting tagapangasiwa sa mga kaloob ng Diyos -- upang matugunan ang pangangailangan
                ng
                sangnilikha at makamit ang paghahari ng Diyos sa kanilang piling."</p>
        </div>
    </div>
</div>

<div class="container" style="padding-bottom: 32px">
    <div class="hidden-sm col-md-6">
        <div class="thumbnail">
            <a href="images/TOCP-Logo-Web.png">
                <img src="images/TOCP-Logo-Web.png"
                     alt="The Transfiguration of Christ Parish Logo"/>
            </a>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <h2 id="about-parish">About the Parish</h2>

        <p>The Transfiguration of Christ Parish is relatively a new parish in the Diocese of
            Antipolo, having been canonically erected on December 12, 2002. The parish church is
            located along M.L. Quezon St. Ext., Brgy San Roque, Antipolo City.</p>
        <ul>
            <li>The parish Church was dedicated on December 12, 2012.</li>
            <li>Dedication Rites were presided by Most Rev. Francisco de Leon, DD (Auxiliary Bishop
                of
                Antipolo) together with Most Rev. Roberto Mallari (Bishop of San Jose, Nueva Ecija)
                & Most Rev. Jose Rojas (Bishop of Libmanan, Camarines Sur).
            </li>
            <li>The parish has its own Columbarium & Lazarus' Memorial Chapels.</li>
        </ul>
    </div>

    <!--<div class="col-xs-12 col-md-6 col-md-offset-3">-->
        <!--<a class="btn btn-primary center-block btn-lg" role="button"-->
           <!--href="http://www.facebook.com/ourtransfi" style="font-size: x-large">News and-->
            <!--Announcements</a>-->
    <!--</div>-->
</div>

<div class="container-fluid">
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="images/gallery/5.jpg">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="images/gallery/6.jpg">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="images/gallery/7.jpg">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="images/gallery/8.jpg">
        </a>
    </div>
</div>

<div class="jumbotron section" id="section-3" style="padding-top: 750px">
    <div class="container backtext">
        <div class="col-md-offset-6" style="text-align: right">
        </div>
    </div>
</div>

<div class="container">
    <div class="col-md-6">
        <h2 id="contact-us">Contact Us</h2>

        <p>For general inquiries and concerns, contact us via our telephone number (available every day, except Monday):
            <br/><span style="font-weight: bold">{{ site.contact }}</span>
            <br/>You can also contact us by leaving a message on our Facebook page.</p>

        <a class="btn btn-primary" role="button"
           href="http://www.facebook.com/ourtransfi">facebook.com/ourtransfi</a>

        <p>Please take note that various liturgical services, such as <a href="/services/#baptism">baptismal rites</a> and <a href="/services/#matrimony-weddings">weddings</a> are all detailed further in the <a href="/services/">Liturgical Services</a> page. </p>

        <h2>Location</h2>

        <p>The Transfiguration of Christ Parish is located at the <strong>M.L. Quezon St. Ext. in Antipolo
            City, Rizal.</strong> For convenience, refer to the Google Map on the right, or click the button
            below to view it in Google Maps.</p>
        <a class="btn btn-default" role="button"
           href="https://www.google.com.ph/maps/place/Transfiguration+Of+Christ+Parish/@{{ site.address_latitude }} , {{ site.address_longitude }},18z/data=!4m2!3m1!1s0x3397c0b9c5cadb3f:0x55deeaf5184b2631?hl=en">Navigate
            via Google Maps</a>

        <p></p>
    </div>

    <div class="col-md-6" id="map-canvas">
    </div>

    <div class="col-sm-12 hidden-md hidden-lg" style="margin-top: 45px">
        <div class="thumbnail">
            <a href="images/TOCP-Logo-Web.png">
                <img src="images/TOCP-Logo-Web.png"
                     alt="The Transfiguration of Christ Parish Logo"/>
            </a>
        </div>
    </div>
</div>

{% include footer.html %}

</body>
