body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    letter-spacing: -0.60px;
    font-size: 150%;
    text-rendering: optimizeLegibility;
    padding-bottom: 0;
    padding-top: 0;
}

* {
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-brand {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 600;
}

.navbar-toggle .icon-bar {
    background-color: #428bca;
}

.backtext {
    color: #ffffff;
    text-shadow: 1px 1px 1px #080808;
    text-align: left;
    background: none;
}

.backtext-dark {
    color: #000000;
    text-shadow: 1px 1px 1px #bdbdbd;
    text-align: left;
    background: none;
}

.thumbnail, .thumbnail:hover {
    border: none !important;
}

.section {
    -webkit-box-shadow: inset 0px 0px 10px 4px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: inset 0px 0px 10px 4px rgba(0, 0, 0, 0.55);
    box-shadow: inset 0px 0px 10px 4px rgba(0, 0, 0, 0.55);
    padding-top: 85px;
    background-size: cover;
    background-position: center;
}

#navigation-bar {
    background-color: #ffffff;
}

#map-canvas {
    height: 550px;
}

.nav>li {
    border-bottom: 5px solid #fff;
}

.nav .active {
    border-bottom: 5px solid #428bca;
    /*background-color: #a2c5b4;*/
}

#footer {
    margin-top: 125px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #3e3e3e;
    color: #989898;
}

.attribution {
    font-size: 10px;
    font-style: italic;
    color: #808080;
}