<!-- Carousel Indicators -->

<ol class="carousel-indicators">
    <li data-target="#transfi-carousel-1" data-slide-to="0" class="active"></li>
    <li data-target="#transfi-carousel-1" data-slide-to="1"></li>
    <li data-target="#transfi-carousel-1" data-slide-to="2"></li>
</ol>


<!-- Carousel Content -->

<div class="carousel-inner" role="listbox" id="whats-new">

    <div class="item section active"
         style="background-image: url('/images/header-santorosaryo.jpg'); padding-top: 750px">
        <a href="#schedules">
            <div class="carousel-caption jumbotron backtext col-sm-8 col-md-6 col-lg-4">
                <h1>Pagdalaw ng Nuestra Senora del Santissimo Rosario, La Naval de Manila</h1>
                <p>Salubungin natin ang Reyna...
                <br/>sa Transfiguration of Christ Parish
                <br/>Ika-10 hanggang Ika-17 ng Mayo 2015.</p>

            </div>
        </a>
    </div>

    <div class="item section"
         style="background-image: url('/images/header-holyweek.png'); padding-top: 750px">
        <a href="#schedules">
            <div class="carousel-caption jumbotron backtext">
                <h1>Happy Easter to Everyone!</h1>
                <p>We are an Easter people, and Alleluia is our song!</p>
            </div>
        </a>
    </div>

    <div class="item section"
         style="background-image: url('/images/header-0.jpg'); padding-top: 750px">
        <!-- Slide - Parish Highlight -->
        <div class="carousel-caption jumbotron backtext">
            <h1>The Transfiguration<br/>of Christ Parish</h1>
            <p>M.L. Quezon St. Ext., Brgy San Roque, Antipolo City</p>
        </div>
    </div>
</div>

<!-- Carousel Controls -->
<a class="left carousel-control" data-target="#transfi-carousel-1" role="button"
   data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" data-target="#transfi-carousel-1" role="button"
   data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
</a>