<!-- When adding new entries, consider:
  - Adding a carousel indicator
  - Adding a section below (and adjust active class or not)
  -->

<!-- Carousel Indicators -->

<ol class="carousel-indicators">
    <li data-target="#transfi-carousel-1" data-slide-to="0" class="active"></li>
    <li data-target="#transfi-carousel-1" data-slide-to="1" ></li>
</ol>


<!-- Carousel Content -->

<div class="carousel-inner" role="listbox" id="whats-new">




    <div class="item section active"
         style="background-image: url('/images/header-0.jpg'); padding-top: 750px">
        <!-- Slide - Parish Highlight -->
        <div class="carousel-caption jumbotron backtext">
            <h1>The Transfiguration<br/>of Christ Parish</h1>
            <p>M.L. Quezon St. Ext., Brgy San Roque, Antipolo City</p>
        </div>
    </div>

    <div class="item section"
         style="background-image: url('/pages/about/czestochowa/Czestochowa4.jpg'); padding-top: 750px">
        <!-- Slide - Parish Highlight -->
        <a href="/about/czestochowa/">
        <div class="carousel-caption jumbotron backtext">
            <h1>Our Lady of Czestochowa</h1>
            <p>About Our Lady of Czestochowa, its origins, and as the Special Patroness of the Transfiguration of Christ Parish</p>
        </div>
        </a>
    </div>

</div>

<!-- Carousel Controls -->
<a class="left carousel-control" data-target="#transfi-carousel-1" role="button"
   data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" data-target="#transfi-carousel-1" role="button"
   data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
</a>